body {
    animation: bgchange 20s ease infinite;
    /*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

@keyframes bgchange {
    0% {
        background: #070069;
    }

    /*変化させたい色*/
    25% {
        background: #026983;
    }

    /*変化させたい色*/
    50% {
        background: #4a84d1;
    }

    /*変化させたい色*/
    75% {
        background: #34aeff;
    }

    /*変化させたい色*/
    90% {
        background: #7bc7f7;
    }

    /*変化させたい色*/
    100% {
        background: #a2cdf7;
    }

    /*変化させたい色*/
}