a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    text-align: center;
}

.gu_btn6 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.cantclick {
    pointer-events: none;
    opacity: 0.5;
}

.wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
    animation: spin 5s linear infinite;
    /* 初期状態で回転 */
    overflow: hidden;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
    transform-origin: left bottom;
}

.pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    transform: translateX(-50%);
    z-index: 10;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* アニメーションを停止するためのクラス */
.stopped {
    animation: none;
}