a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    text-align: center;
}

.gu_btn6 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.cantclick {
    pointer-events: none;
    opacity: 0.5;
}

.wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
    animation: spin 5s linear infinite;
    /* 初期状態で回転 */
    overflow: hidden;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
    transform-origin: left bottom;
}

.pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    transform: translateX(-50%);
    z-index: 10;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* アニメーションを停止するためのクラス */
.stopped {
    animation: none;
}

.btnlink {
    position: relative;
    background-color: #0066aa;
    /* 背景色 */
    color: white;
    /* 文字色 */
    padding: 10px 15px;
    /* パディング */
    text-align: center;
    /* 文字のアライメント */
    text-decoration: none;
    /* 文字装飾 */
    display: inline-block;
    /* ボタンの表示方法 */
    font-size: 16px;
    /* フォントサイズ */
    font-family: Arial, sans-serif;
    /* フォント */
    margin: 4px 2px;
    /* 外側の余白 */
    cursor: pointer;
    /* カーソル */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* ボタンの角丸 */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    /* 影 */
    transition: transform 0.1s ease-in-out;
    /* トランジション */
}


.btnlink:hover {
    background-color: #fff;
    color: #0066aa;
}