body {
    margin: 0;
}

.index-header {
    width: 100%;
    padding: 30px;
}

.index-header h1 {
    width: 650px;
    margin: 0 auto;
    color: #fff;
}

.prologue {
    margin: 0 auto;
    width: 770px;
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

.pro-option {
    text-align: left;
    margin-top: 50px;
}


a {
    text-decoration: none;
}

/* ボタンコンテナのスタイル */
.button-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    /* ボタンを中央に配置 */
    gap: 20px;
}



a.btn_07 {
    display: inline-block;
    /* ボタンをインラインブロックに */
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 160px;
    padding: 1rem 2rem;
    font-weight: bold;
    color: #006688;
    border-bottom: 2px solid #79dafa;
    border-radius: 100vh;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    transition: 0.5s;
    background-color: #fff;
}

a.btn_07:hover {
    color: #fff;
    background: #27acd9;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}