.endBtn {
    display: none;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7 {
    display: none;
}

.mieru {
    display: block;
}

.gacha_option_btn {
    display: none;
}

.gachaReflect {
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #fff;
}

#end {
    display: none;
}