body {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    margin: 10px 0px;
}

/* story.htmlここから */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 30px;
    background-color: #020E34;
    color: #ffffff;
}

.for-header {
    width: 100%;
    background-color: #020E34;
    height: 30px;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.headerRight button {
    height: 30px;
    margin: 30px 5px;
}

.hardModeOn {
    width: 150px;
    height: 20px;
    margin: 35px 10px;
    background-color: rgb(220, 255, 122);
    font-weight: bold;
    color: #458d0a;

}


main {
    margin-top: 20px;
    color: #ffffff;
}

.scenario {
    height: 100vh;
    width: 100vh;
    padding: 40px;
}

.pt80 {
    padding-top: 80px;
}


.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.mieru {
    display: block;
}

.nextArrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.nextArrow button {
    margin: 0 auto;
    display: block;
}

.endbtnwrapper {
    width: 100%;
    margin-top: -170px;
}

#nextScBtn {
    width: 120px;
    height: 25px;
    position: relative;
}

#nextScBtn a {
    display: block;
    width: 120px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#goEndBtn {
    display: none;
    width: 140px;
    height: 25px;
    margin: 0 auto;
    position: relative;

}

#goEndBtn a {
    width: 140px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* story.htmlのガチャ */
.gacha_option_btn {
    display: none;
    text-align: center;
}

.gachaReflect {
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: center;
    width: 300px;
    height: 250px;
    padding: 20px;
}

.gachaExp {
    margin: 10px 0px;
}

.gachaUsed {
    color: #8b8a8a;
    text-decoration: line-through;
    pointer-events: none;
}

.openLodTotal {
    display: none;
}

/* video.html */
.videoGachaBtn {
    display: none;
}

.video-wrapper {
    width: 100%;
}

.video-inner {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#myVideo {
    position: absolute;
    display: block;
}

.close-circle {
    display: none;
    position: relative;
    top: 10px;
    right: -25px;
}

.videoGachaBtn {
    display: block;
    width: 160px;
}