button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    margin: 10px 100px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    padding: 0 30px;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.headerRight button {
    height: 30px;
    margin: 30px 5px;
}

main {
    margin-top: 100px;
}

.scenario {
    height: 100vh;
    width: 100vh;
}

.pt80 {
    padding-top: 80px;
}


.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.mieru {
    display: block;
}

.nextArrow {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 20px;
}

.nextArrow button {
    margin: 0 auto;
    display: block;
}

/* story.htmlのガチャ */
.gacha_option_btn {
    display: none;
    text-align: center;
}

.gachaReflect {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 300px;
    height: 250px;
    padding: 20px;
}

.gachaExp {
    margin: 10px 0px;
}

.gachaUsed {
    color: #8b8a8a;
    text-decoration: line-through;
    pointer-events: none;
}

.openLodTotal {
    display: none;
}