body {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    margin: 10px 0px;
}

/* story.htmlここから */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 30px;
    background-color: #020E34;
    color: #ffffff;
}

.for-header {
    width: 100%;
    background-color: #020E34;
    height: 30px;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.header-btn {
    padding: 0px 15px;
    margin: 20px 5px;
}

.header-btn a {
    color: #fff;
}

.header-btn a:hover {
    color: #0066aa;
}


main {
    margin-top: 20px;

}

.scenario {
    height: 100vh;
    width: 100vh;
    padding: 40px;
    color: #ffffff;
}

.pt80 {
    padding-top: 80px;
}


.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.mieru {
    display: block;
}

button {
    position: relative;
    background-color: #0066aa;
    /* 背景色 */
    color: white;
    /* 文字色 */
    padding: 10px 15px;
    /* パディング */
    text-align: center;
    /* 文字のアライメント */
    text-decoration: none;
    /* 文字装飾 */
    display: inline-block;
    /* ボタンの表示方法 */
    font-size: 16px;
    /* フォントサイズ */
    font-family: Arial, sans-serif;
    /* フォント */
    margin: 4px 2px;
    /* 外側の余白 */
    cursor: pointer;
    /* カーソル */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* ボタンの角丸 */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    /* 影 */
    transition: transform 0.1s ease-in-out;
    /* トランジション */
}

button:hover {
    background-color: #fff;
    color: #0066aa;
}

.nextArrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

#nextScBtn {
    width: 150px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    display: block;

}

#nextScBtn a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    padding: 7px;
}

#nextScBtn a:hover {
    color: #0066aa;
}

.endbtnwrapper {
    width: 100%;
    margin-top: -170px;
}



#goEndBtn {
    display: none;
    width: 170px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

#goEndBtn a {
    width: 170px;
    height: 40px;
    color: #ffffff;
    padding: 7px;
}

#goEndBtn a:hover {
    color: #0066aa;
}

/* story.htmlのガチャ */
.gacha_option_btn {
    display: none;
    text-align: center;
}

.gachaReflect {
    position: fixed;
    bottom: 150px;
    right: 120px;
    text-align: center;
    width: 300px;
    height: 250px;
    padding: 20px;
}

.gachaExp {
    margin: 10px 0px;
}

.gachaUsed {
    color: #8b8a8a;
    text-decoration: line-through;
    pointer-events: none;
}

.openLodTotal {
    display: none;
}

/* video.html */
.videoGachaBtn {
    display: none;
}

.video-wrapper {
    width: 100%;
}

.video-inner {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#myVideo {
    position: absolute;
    display: block;
}

.close-circle {
    display: none;
    position: relative;
    top: 10px;
    right: -25px;
}

.videoGachaBtn {
    display: block;
    width: 160px;
}