button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    margin: 10px 0px;
}

.scenario {
    margin: 30px;
    padding: 30px;
}

.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.mieru {
    display: block;
}

/* story.htmlのガチャ */
.gacha_option_btn {
    display: none;
}

.gachaReflect {
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #fff;
}