button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    margin: 10px 0px;
}

/* index.htmlここから */
.index-header {
    width: 100%;
    padding: 30px;
}

.index-header h1 {
    width: 650px;
    margin: 0 auto;
}

.prologue {
    margin: 0 auto;
    width: 705px;
    text-align: center;
    padding-top: 100px;
}

.pro-option {
    text-align: left;
    margin-top: 50px;
}

.startStory {
    margin-top: 50px;
}

/* index.htmlここまで */

/* story.htmlここから */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    padding: 0 30px;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.headerRight button {
    height: 30px;
    margin: 30px 5px;
}

main {
    margin-top: 100px;
}

.scenario {
    height: 100vh;
    width: 100vh;
}

.pt80 {
    padding-top: 80px;
}


.s1,
.s2,
.s3,
.s4,
.s5 {
    display: none;
}

.mieru {
    display: block;
}

.nextArrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.nextArrow button {
    margin: 0 auto;
    display: block;
}

.endbtnwrapper {
    width: 100%;
    margin-top: -130px;
}

#nextScBtn {
    width: 120px;
    height: 25px;
    position: relative;
}

#nextScBtn a {
    display: block;
    width: 120px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#goEndBtn {
    display: none;
    width: 140px;
    height: 25px;
    margin: 0 auto;
    position: relative;
}

#goEndBtn a {
    width: 140px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* story.htmlのガチャ */
.gacha_option_btn {
    display: none;
    text-align: center;
}

.gachaReflect {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 300px;
    height: 250px;
    padding: 20px;
}

.gachaExp {
    margin: 10px 0px;
}

.gachaUsed {
    color: #8b8a8a;
    text-decoration: line-through;
    pointer-events: none;
}

.openLodTotal {
    display: none;
}