/* video.html */
a {
    text-decoration: none;
}

.videoGachaBtn {
    display: none;
}

.video-wrapper {
    width: 100%;
    text-align: center;
}

.video-inner {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#myVideo {
    position: absolute;
    display: block;
}

.close-circle {
    display: none;
    position: relative;
    top: 10px;
    right: -25px;
    cursor: pointer;
}

.videoGachaBtn {
    display: block;
    width: 160px;
}